// Import fonts to use

// Gotham HTF
@font-face {
	font-family: 'Gotham';
	//src: url('fonts/gotham/GothamHTF-Book.eot');
	src:
		local('☺'),
		url('fonts/gotham/GothamHTF-Book.woff') format('woff'),
		url('fonts/gotham/GothamHTF-Book.ttf') format('truetype'),
		url('fonts/gotham/GothamHTF-Book.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	//src: url('fonts/gotham/GothamHTF-Light.eot');
	src:
		local('☺'),
		url('fonts/gotham/GothamHTF-Light.woff') format('woff'),
		url('fonts/gotham/GothamHTF-Light.ttf') format('truetype'),
		url('fonts/gotham/GothamHTF-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
