html {
	min-height: 100%;
}

img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

:focus {
    outline: $black auto 1px;
}

.fade-box .lazyload,
 .fade-box .lazyloading {
	opacity: 0;
	transition: opacity 400ms;
}

.fade-box img.lazyloaded {
	opacity: 1;
}

body {
	@include media-breakpoint-down(md) {
		padding-top: $nav_height-sm;
	}
}

.jumbotron-link {
	position: relative;
	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}

.panel {
	background-color: gray("100");
	padding: $spacer;
	@include media-breakpoint-up(md) {
		padding: ($spacer*2);
	}
	@include media-breakpoint-up(lg) {
		padding: ($spacer*3);
	}
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}


.text-area {
	padding: $spacer;
	@include media-breakpoint-up(md) {
		padding: ($spacer*2);
	}
	&.text-area--bg-light-grey {
		background-color: gray("100");
	}
	&.text-area--bg-white {
		background-color: $white;
	}
	&.text-area--bg-black {
		background-color: $black;
		a,p,h1,h2,h3,h4,h5,h6 {
			color: $white;
		}
	}
	a {
		font-size: ($font-size-base*.8);
	}
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}


#cookie-consent-bar {
	position: fixed;
	bottom: 0;
	left :0;
	width: 100%;
	background-color: $black;
	color: $white;
	z-index: 99999999;
	//display: none;
	transform: translate(0%, 100%);
	transition: transform .15s;
	html.has-cookie-bar & {
	//	display: block;
		transform: translate(0%, 0%);
	}
	.er-inner {
		padding: $spacer;
		display: flex;
		align-items: center;
	}
	a {
		color: $white;
	}
	.er-left-side,
	.er-right-side {
		@include media-breakpoint-up(md) {
			flex: 1;
		}@include media-breakpoint-up(md) {
			flex: 1;
		}
	}
	.er-right-side {
		@include media-breakpoint-up(md) {
			text-align: right;
		}
	}
	#cookieConsent {
		background-color: transparent;
		border-color: $white;
		&:hover {
			background-color: $white;
			color: $black;
		}
	}
}
