//
// Variables
// --------------------------------------------------
//@import "../vendors/bootstrap/functions";
//@import "../vendors/bootstrap/variables";
//@import "../vendors/bootstrap/mixins";

//
// Color system
//

// stylelint-disable
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #818181;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;



$primary: $gray-800;
$secondary: #FFF166;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: #ffffff;
$body-color: $gray-900;

// Links
//
// Style anchor elements.

$link-color: $primary;
// $link-decoration: none;
$link-hover-color: darken($link-color, 20%);
$link-hover-decoration: underline;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: "Gotham",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: .85rem; // Assumes the browser default, typically `16px`

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1260px,
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 640px,
  md: 820px,
  lg: 960px,
  xl: 1200px,
);


// components

$border-radius: 0;

// Buttons + Forms

$input-border-color: gray("700");
$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1.25rem;
$input-btn-padding-y-sm:  .5rem;
$input-btn-padding-x-sm:  .5rem;
$input-btn-padding-y-lg:  .75rem;
$input-btn-padding-x-lg:  2rem;


// Buttons
$btn-border-radius: 0;
$btn-padding-y-lg:      $input-btn-padding-y-lg;
$btn-padding-x-lg:     $input-btn-padding-x-lg;

//$btn-padding-y:
//$btn-padding-x:
