// Custom Mixins

// Bootstrap 4 container widths
// https://reformatcode.com/code/sass-sass/use-container-width-in-bootstrap-4
/*
usage:
.my-custom-class{
   @include make-max-widths-container-width();
}
*/
@mixin make-max-widths-container-width($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
    @each $breakpoint, $container-max-width in $max-widths {
        @include media-breakpoint-up($breakpoint, $breakpoints) {
            max-width: $container-max-width;
        }
    }
}
