// WooCommerce
$swatch_size: 64px;
$separating_border-color: $gray-400;
$separating_border-width: 1px;

// Slick Slider
$slick-font-family: "FontAwesome";
$slick-loader-path: 'images/';

// Hamburger
$hamburger-layer-color: $black;

// Navs
$nav_height-sm: 70px; // keep this at 70px
$nav_height-md: 50px;
$nav_width-xs: 235px;
$nav_width-sm: 300px;

// Fonts
$font-weight-book: 400;
$font-weight-light: 300;
$font-weight-base: $font-weight-light;
$headings-font-weight: $font-weight-light;
