// Base styles

.single_add_to_cart_button {
	@include media-breakpoint-only(xs) {
  	 	width: 100%;
    }
}

.button,
.btn,
.single_add_to_cart_button,
#wp-submit {
  display: inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  //text-transform: uppercase; // too shouty
  letter-spacing: .15rem;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
  background: gray("800");
  color: $white;
  /*@include media-breakpoint-up(sm) {
	  height: $input-height-sm;
  }*/
  @include media-breakpoint-up(lg) {
	  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-base, $btn-line-height-lg, $btn-border-radius);
  }

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }
  &:hover {
	 background-color: gray("900");
	 color: $white;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: none;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not([disabled]):not(.disabled) {
    cursor: pointer;
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active {
    background-image: none;
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}


.btn-alt {
	background-color: rgba($black,.4);
	border: 2px solid $white;
}

.btn-icon--right {

}
