

input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]) {
	background: none;
	box-shadow: none;
	border-bottom: 1px solid gray("600");
	border-left: 0;
	border-right: 0;
	border-top:0;
	height: $input-height;
	line-height: $input-line-height;
	border-color: $input-border-color;
	border-width: $input-border-width;
	color: $input-color;
	@include media-breakpoint-up(sm) {
		height: $input-height-sm;
	}
	@include media-breakpoint-up(md) {
		height: $input-height-lg;
	}
	&::placeholder {
		color:  gray("500");
	}
	&:focus {
		outline: 0;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		border-bottom: 1px solid $input-focus-color;
		color: $input-focus-color;
		background-color: transparent;
	}
}
textarea {
	padding-left: $input-padding-y;
	padding-right: $input-padding-x;
	border: 1px solid gray("600");
	@include media-breakpoint-up(sm) {
		padding-left: $input-padding-y-sm;
		padding-right: $input-padding-x-sm;
		line-height: $input-line-height-sm;
	}
	@include media-breakpoint-up(lg) {
		padding-left: $input-padding-y-lg;
		padding-right: $input-padding-x-lg;
		line-height: $input-line-height-lg;
	}
	&:focus {
		border-color: $input-focus-color;
		color: $input-focus-color;
		background-color: transparent;
	}
}
