
/*********************
MODAL POPUP STYLES
*********************/


 .modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857px;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.modal-loader {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.93);
  top: 0;
  width: 100%;
  height: calc(100% + 100px);
  padding: 0 0 100px;
  color: #fff;
  z-index: 1010;
}

#modal {
  display: block;
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  top: 0;
  width: 100%;
  height: calc(100% + 100px);
  padding: 85px 0 100px;
  color: #fff;
  z-index: 1020;
}
#modal #header {
  display: table;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
}
#modal #header #inner-header {
  border-bottom: none;
  padding: 0 7%;
}
#modal #header #inner-header .title {
  display: none;
}
#modal #header #inner-header .close-modal {
  display: block;
  position: absolute;
  background: none;
  border: none;
  top: 50%;
  right: 50%;
  width: 15px;
  height: 15px;
  padding: 15px 0 0 0;
  margin-right: -7.5px;
  /* margin-top: -7.5px; */
}
#modal #header #inner-header .close-modal:before, #modal #header #inner-header .close-modal:after {
  content: '';
  position: absolute;
  border: 1px solid #000;
  top: 11px;
  left: 50%;
  width: 22px;
  height: 0;
  margin-left: -11px;
}

#modal #header #inner-header button.close-modal:hover {
  background-color: none !important;
  box-shadow: none !important;
}

#modal #header #inner-header .close-modal:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
#modal #header #inner-header .close-modal:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#modal #header #inner-header .close-modal .text {
  display: none;
}
#modal #content {
  display: block;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#modal #content #inner-content {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}
#modal #content #inner-content .modal-content {
  display: table-cell;
  position: relative;
  background: none;
  border: none;
  vertical-align: middle;
  padding: 0 7% 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#modal #content #inner-content .modal-content .modal-title {
  display: block;
  padding: 0 0 50px;
  font-family: 'Gotham SSm A','Gotham SSm B',"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}
#modal #content #inner-content .modal-content table.striped {
  background: none;
  width: 100%;
}
#modal #content #inner-content .modal-content table.striped tr {
  color: #fff;
}
#modal #content #inner-content .modal-content table.striped tr:nth-child(odd) {
  background: #fff;
  color: #000;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .modal-sm {
    width: 300px;
  }


  /*********************
  MODAL POPUP STYLES
  *********************/


  #modal #header {
    padding-top: 25px;
  }

  #modal {
    padding-top: 110px;
  }
  #modal #header #inner-header .title {
    display: inline-block;
  }
  #modal #header #inner-header .close-modal {
    right: 7%;
    width: 43px;
    height: 55px;
    padding-top: 43px;
    margin-top: -27.5px;
  }
  #modal #header #inner-header .close-modal:before, #modal #header #inner-header .close-modal:after {
    top: 20px;
    width: 37px;
    margin-left: -18.5px;
  }
  #modal #header #inner-header .close-modal .text {
    display: block;
    font-family: 'Gotham SSm A','Gotham SSm B',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 100%;
    color: #000;
  }
  #modal #content #inner-content .modal-content .modal-title {
    padding: 30px 0 40px;
    line-height: 20px;
    font-size: 14px;
  }

}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

/***** END MODAL POPUP  STYLES */
