// Navigation CSS

.home-link {
	position: absolute;
	top: $nav_height-sm*.225;
	left: $nav_height-sm;
	width: $nav_height-sm*.6;
	height:  $nav_height-sm*.6;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(images/espie-roche-icon-square.svg);
	z-index: $zindex-fixed;
	&:before{
		content: '';
		font-size: $h2-font-size;
		letter-spacing: .4rem;
	}
	&:hover {
		text-decoration: none;
		border: 0;
	}
	@include media-breakpoint-up(md) {
		&:before{
			content: 'Espie Roche';
		}
		width: auto;
		background: none;
	}
	@include media-breakpoint-up(lg) {
		display: none;
	}
}

@include media-breakpoint-up(lg) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

.hamburger {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1001;
	border: 0;
	/*
	&:after {
		display: block;
		position: absolute;
		left: 75px;
		top: 17px;
		width: 250px;
	    content: "Espie Roche";
	    text-align: left;
	    text-transform: uppercase;
	    font-size: 1.5rem;
	    letter-spacing: .2rem;
		@include media-breakpoint-down(sm) {
			content:"";
			top: 20px;
			width: 40px;
			height: 40px;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url(images/espie-roche-icon-square.svg);
		}
	} */
	&:focus {
		outline: 0;
	}
	@include media-breakpoint-up(lg) {
		display: none;
	}
}

// Main Navigation
#primary-navigation {

	padding: 0;
	align-items: flex-start;
	margin: auto;
	max-width: map-get($container-max-widths, "xl");

	@include media-breakpoint-down(md) {

			overflow-y: auto;
			display: block;
			position: absolute;
			padding: ($nav_height-sm+10px) $spacer .5rem $spacer;
			width: 75%;
			max-width: 270px;
			background: darken($white,2.5%);
			z-index: 999;
			height: 100vh;
			top: 0;
			left: 0;
			transition: all 150ms ease-in-out;
			transform: translate(-$nav_width-sm, 0);

	}

	&.is-active {
		@include media-breakpoint-down(lg) {
			transform: translate(0, 0);
		}
	}
	.navbar-collapse {
		/*
		@include media-breakpoint-up(md) {
			display: flex;
			width: 30%;
			flex-grow:0;
		}*/
		@include media-breakpoint-up(lg) {
			width: 40%;
			flex-grow:1;
		}
	}
	.left-container {
		justify-content: flex-end;
	}

}

#primary-left {
	@include media-breakpoint-up(lg) {
		margin-right: 5%;
	}
}
#primary-right {
	@include media-breakpoint-up(lg) {
		margin-left: 5%;
	}
}


.navbar-nav {
	align-items: left;
	margin: 0;
	max-width: map-get($container-max-widths, "xl");
	flex-wrap: wrap;
	flex-direction: row;
	@include media-breakpoint-up(lg) {
		width: 100%;
		align-items: center;
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.dropdown {
		position: inherit; // this makes the dropdown menu ignore the parent and enables 100% width menus
	}
	.menu-item {
		@include media-breakpoint-down(md) {
			margin-bottom: $spacer;
		}
	}
	.dropdown-menu {

		border: 0;
		margin: 0;
		padding: 0;
		border-radius: 0;
		width: 100%;
		@include media-breakpoint-up(lg) {
			box-shadow: 0px 4px 20px rgba(0,0,0,0.04);
		}

		.dropdown-container {
			display: flex;
			margin: auto;
			@include make-max-widths-container-width();
			@include media-breakpoint-down(lg) {
				flex-wrap: wrap;
			}
		}

		.dropdown-item {
			text-align: center;
			width: 50%;
			padding: 2% 4%;
			border-bottom: 0;
			font-size: ($font-size-base*.7);
			&.active,
			&:active {
				background-color: transparent;
				color: $black;
			}
			&:hover {
				border-bottom: 0;
			}
			@include media-breakpoint-up(lg) {
				width: 25%;
				font-size: ($font-size-base);
			}
		}
	}
	.nav-item {
		text-align: center;
		flex-grow: 1;
		@include media-breakpoint-down(lg) {
			flex-basis: 100%;
		}
		&.home {
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
		&.contact {
			margin-top: ($spacer*2);
		}
		&.contact,
		&.login,
		&.cart {
			@include media-breakpoint-up(lg) {
				display: none;
			}
			a {
				font-size: .9rem;
			}
		}
		&.social {
			@include media-breakpoint-down(lg) {
				flex-basis: percentage(1/3);
			}
			a {
				display: flex;
				font-size: $font-size-base*1.5;
				@include media-breakpoint-up(lg) {
					justify-content: center;
					align-items: center;
				}
			}

		}
	}

}

.navbar-brand {
	//min-width: 350px;
	display: none;
	letter-spacing: .4rem;
	font-size: $font-size-base*2.25;
	padding: 0;
	text-align: center;
	font-weight: $font-weight-light;
	margin: 0 $spacer;
	line-height: ($nav_height-md - 2px);
	height: $nav_height-md;
	@include media-breakpoint-up(lg) {
		display: block;
		//width: 40%;
	}

}

.nav-item {
	letter-spacing: .2rem;
	margin: 0;
	@include media-breakpoint-up(lg) {
		height: $nav_height-md;
	}
	&.current_page_item,
	&.current_page_parent {
		> a {
			text-decoration: underline;
		}
	}
	a {
		height: 100%;
		&:hover {
			color: $black;
		}
	}
}

.nav-link {
	text-align: left;
	font-size: 1.25rem;
	padding: 0.25rem $spacer;
	color: $black;
	font-weight: $font-weight-book;
	@include media-breakpoint-up(lg) {
		padding: 0 !important;
		text-align: center;
		font-size: .8rem;
		line-height: $nav_height-md;
		height: $nav_height-md;
		display: inline-block;
	}
}

.dropdown-item {
	white-space: unset;
	&:focus,
	&:hover {
		background-color: inherit;
	}
}

.dropdown-toggle {
	position: relative;
	&:after {
		position: absolute;
		top: 47%;
		top: calc(50% - .15em);
		right: 0;
		@include media-breakpoint-up(lg) {
			right: -$spacer;

		}
	}
}

/*

.dropdown-toggle {
	&:after {
		//display: none;
	}

	&:hover {
	//&[aria-expanded="true"] {
		position: relative;
		&:after {
			display: inline-block;
			border-bottom: 14px solid gray("200");
			border-right: 16px solid transparent;
			border-top: 0;
			border-left: 16px solid transparent;
			position: absolute;
			//bottom: calc(-1rem - 14px);
			bottom: 0;
			left: calc(50% - 22px);
		}
	}
}
*/



.helper-menu {
	background-color: gray("100");
	display: flex;
	height: auto;
	@include media-breakpoint-down(md) {
		height: $nav_height-sm;
		align-items: center;
	}
	.left,
	.right {
		flex:1;
		padding: 0 .5rem;
	}
	.left {
		text-align: left;
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
	.right {
		text-align: right;
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			&.login {
				@include media-breakpoint-down(md) {
					display: none;
				}
			}
		}
	}
	a {
		font-size: .625rem;
		letter-spacing: .1rem;
		line-height: 1;
		margin: 0 .75rem;
		font-weight: $font-weight-book;
	}
}

.woo-cart {
	a {
		&:before {
			display: inline-block;
			content: url(images/icon-cart.svg);
			margin-right: 10px;
		}
	}
}

// breadcrumbs
.breadcrumb {
	@include sr-only();
	@include make-container();
	@include make-max-widths-container-width();
	padding-top: $spacer;
	margin-bottom: $spacer;
	font-size: ($font-size-base*.85);
	body.home & {
		display: none;
	}
}
