article {
	&.type-page {

	}
	.entry-content {
		a {
			text-decoration: none;
			border-bottom: 1px solid $black;
		}
		p {
			+ h2,
			+ h3,
			+ h4,
			+ h5 {
				margin-top: ($spacer *2);
			}
		}
	}
}
