// Page Flexible Content components layout

// Shared flexible content

.flexible {
	position: relative;

	.image {
		@include media-breakpoint-down(sm) {
			margin: $spacer 0;
		}
	}
	.image-1 {

		@include media-breakpoint-up(md) {
			margin-top: ($spacer*3);
			width: 50%;
		}
	}
	.image-2 {
		@include media-breakpoint-up(md) {
			position: absolute;
			right: percentage(1/12);
			top: 150px;
			width: percentage(4/12);
			max-width: 450px;
			height: auto;
		}
	}
	.image-3 {
		@include media-breakpoint-up(md) {
			margin-top: ($spacer*2);
			width: percentage(4/12);
			margin-left: percentage(1/12);
		}
	}

	.panel {
		@include media-breakpoint-down(sm) {
			margin: $spacer 0;
		}
	}
	.text-area-wrapper {
		position: relative;
		z-index: 1;
		@include media-breakpoint-up(md) {
			margin-top: -100px;
			margin-left: percentage(1.5/12);
			width: 50%;
		}
	}
	.text-area {
		a {
			font-size: $font-size-base;
		}
	}

}

// Image Grid Felxible section

.flexible-image-grid {
	@include make-container;
	.wrapper {
		@include make-row();
	}
	.image {
		@include make-col-ready();
		@include make-col(6);
	}
	&.columns-2 {
		.image {
			@include media-breakpoint-up(md) {
				@include make-col(6);
			}
		}
	}
	&.columns-3 {
		.image {
			@include media-breakpoint-up(md) {
				@include make-col(4);
			}
		}
	}
	&.columns-4 {
		.image {
			@include media-breakpoint-up(md) {
				@include make-col(3);
			}
		}
	}
	&.columns-5 {
		.image {
			@include media-breakpoint-up(md) {
				@include make-col(2.4);
			}
		}
	}
	&.columns-6 {
		.image {
			@include media-breakpoint-up(md) {
				@include make-col(2);
			}
		}
	}
}

// Three Images with Text Area section //



// Two Images with Text Area section //
.flexible-two-img-plus-txt {
	padding-top: ($spacer*2);
	padding-bottom: ($spacer*2);
	.image {
		@include make-col-ready();
		@include make-col(12);
	}


	.text-area-wrapper {
		@include make-col-ready();
		@include make-col(12);
		@include media-breakpoint-up(md) {
			@include make-col(3.5);
			position: absolute;
			bottom: 40px;
			z-index: 1;
		}
	}
	.enlarge-left-image {
		.text-area-wrapper {
			@include media-breakpoint-up(md) {
				left: percentage(5/12);
			}
		}
		.image--left {
		    @include media-breakpoint-up(md) {
		  		@include make-col(6);
		    }
		}
		.image--right {
		    @include media-breakpoint-up(md) {
				margin-top: ($spacer*3);
		  		@include make-col(3.5);
				@include make-col-offset(1.5);
		    }
		}
	}
	.enlarge-right-image {
		.text-area-wrapper {
			@include media-breakpoint-up(md) {
				left: percentage(4/12);
				@include make-col(4);
			}
		}
		.image--left {
		    @include media-breakpoint-up(md) {
				margin-top: ($spacer*4);
		  		@include make-col(3);
				@include make-col-offset(1);
		    }
		}
		.image--right {
		    @include media-breakpoint-up(md) {
		  		@include make-col(6);
				@include make-col-offset(2);
		    }
		}

	}
}

// Quote section //
.flexible-quote {
	.row {
		justify-content: center;
	}
	.text-area-wrapper {
		@include make-col-ready();
		@include make-col(12);
		@include media-breakpoint-up(md) {
			@include make-col(6);

		}
	}
	.text-area {
		padding: ($spacer*4) 0;
		* {
			font-size: $h1-font-size;
		}
	}
}

// Full Width Image
.flexible-image-full-width {
	min-height: 600px;
	width: 100%;
	position: relative;
	img {
		width: 100%;
	}
}
