
.site-footer {
	@include make-container();
	max-width: map-get($container-max-widths, "xl");
	.wrap {
		padding-top: $spacer;
		@include make-row();
		max-width: inherit;
	}
	.widget-area {
		@include make-col-ready();
		@include make-col(12);
		margin-bottom: $spacer;
		@include media-breakpoint-up(md) {
	   		@include make-col(6);
		}
	}
	.social-navigation,
	.footer-navigation {
		@include make-col-ready();
		@include make-col(12);
		@include media-breakpoint-up(md) {
	   		@include make-col(6);
		}
	}
	.site-info {
		text-align: center;
		margin: 0 0 $spacer 0;
		width: 100%;
		font-size: .65rem;
	}
	.widget-title {
		font-size: $font-size-base;
	}
	ul {
		padding: 0;
		list-style: none;
		display: flex;
		@include media-breakpoint-down(md) {
			justify-content: space-evenly;
			align-items: center;
		}
		li {
			@include media-breakpoint-down(md) {
				text-align: center;
				margin: ($spacer/2);
				width: 33.33%;
			}
		}

		&.social-links-menu {
			li {
				margin-right: $spacer;
			}
		}
		&.footer-menu {
			@include media-breakpoint-up(md) {
				justify-content: flex-end;
			}
			li {
				@include media-breakpoint-up(md) {
					margin-left: $spacer;
				}
			}
		}
	}

	// Mailchimp form
	.widget_mc4wp_form_widget {
		width: percentage(12/12);
		//margin: 0 auto $spacer auto;
		@include media-breakpoint-up(lg) {
			width: percentage(12/12);
			display: flex;
			align-items: center;
		}
		form.mc4wp-form {
			@include media-breakpoint-up(lg) {
				flex-grow: 2;
				margin-left: 1.5rem;
			}
		}
		.mc4wp-form-fields {
			position: relative;
		}
		.widget-title {
			margin-bottom: $spacer/2;
			@include media-breakpoint-up(lg) {
				letter-spacing: 0;
				margin-bottom: 0;
			}
		}
		input[type="email"] {
			width: 100%;
			@include media-breakpoint-up(md) {
				height: auto !important;
			}
		}
		input[type="submit"] {
			position: absolute;
			right: 0;
			top: 14px;
			background: none;
			border: 0;
			@include media-breakpoint-up(md) {
				top: 0;
			}
		}
	}
}
