
.container {
	@include make-container();
	@include make-max-widths-container-width();
}
.container-fluid {
	padding-right: ($grid-gutter-width/2);
    padding-left: ($grid-gutter-width/2);
    margin-right: auto;
    margin-left: auto;
}
.row {
	@include make-row();
	position: relative;
}

.wrap {
	max-width: map-get($container-max-widths, 'sm');
	margin: auto;
	@include media-breakpoint-up(md) {
		max-width: map-get($container-max-widths, 'md');
	}
	@include media-breakpoint-up(lg) {
		max-width: map-get($container-max-widths, 'lg');
	}
	@include media-breakpoint-up(xl) {
		max-width: map-get($container-max-widths, 'xl');
	}
	body.page-template-page-full-width & {
		max-width: 100%;
	}
	.content-area {
		padding: 0 $spacer;
		body.page-template-page-full-width & {
			padding: 0;
		}
	}
}


.two-col {
	@include make-row();
	.col-left,
	.col-right {
		@include make-col-ready();
	  	@include make-col(12);
	    @include media-breakpoint-up(md) {
	  		@include make-col(6);
	    }
	}
}

section.related {
	justify-content: flex-start;
	padding: 0;
	.products {
		width: 100%;
		padding: 0;
		display: flex;
		justify-content: flex-start;
	}
	.product {
		margin: 0;
		width: 25% !important;
	}
	img, a  {
		width: 100%;
	}
	.woocommerce-loop-product__title,
	.price {
		display: none;
	}
	a {
		border: 1px solid transparent;
		&:hover {
			border: 1px solid $black;
		}
	}
}
.products {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	justify-content: center;
	@include media-breakpoint-up(md) {
	   padding: 0 5%;
	}
	.product {
		width: 50%;
		margin-bottom: ($spacer*1.5);
		@include media-breakpoint-up(md) {
		   width: percentage(1/3);
		   margin-bottom: ($spacer*2);
		}
		@include media-breakpoint-up(lg) {
		   margin-bottom: ($spacer*3);
		}
		&.type-product {
			//display: none;
		}
		body.page-bespoke & {
			@include media-breakpoint-up(lg) {
			   width: 25%;
			}
		}

		&.outofstock {
			position: relative;
			// out of stock banner message
			//pointer-events: none;
			/*&:after {
				content: "Coming soon";
				position: absolute;
				top: 50%;
				left: 50%;
				color: $white;
				transform: translate(-50%, -50%);
				font-weight: $font-weight-bold;
				padding: .75rem 1rem;
				min-width: 75%;
				line-height: 1.2;
				text-align: center;
			} */
			img {
				opacity: .5;
			}
			&:hover {
				img {
					opacity: .5;
				}
			}
		}
	}

	.woocommerce-loop-product__title {
		font-size: $font-size-base;
		margin-bottom: 0;
		text-align: center;
		padding: 0 $spacer;
	}
	.price {
		text-align: center;
		display: block;
		color: gray("500");
	}
	.add_to_cart,
	.ajax_add_to_cart,
	.product_type_variable {
		display: none;
	}
}
