#masthead {
	text-transform: uppercase;
	@include media-breakpoint-down(md) {
		height: $nav_height-md;
		position: fixed;
		width: 100%;
		background: $white;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1001;
	}
}

.entry-title {
	text-align: center;
	font-size: $h3-font-size;
	margin-bottom: ($spacer*3);
	body.woocommerce-cart &,
	body.woocommerce-checkout &,
	body.woocommerce-account.logged-in & {
		text-align: left;
	}
	body.page-bespoke &,
	body.page-contact & {
		@include sr-only;
	}
}
