
.home {

	.home-title {
		margin-bottom: 0;
	}
	.welcome {
		margin-bottom: ($spacer*3);
		position: relative;
		h2 {
			margin-bottom: ($spacer*1);
		}
	}

	.entry-content {
		position: relative;
		z-index: 1;
		@include media-breakpoint-up(md) {
			margin-top: -100px;
			margin-left: percentage(1.5/12);
			width: 50%;
		}
		a {
			text-transform: uppercase;
			letter-spacing: .1rem;
			font-size: 85%;
			&:after {
				content:">";
				margin-left: 8px;
				display: inline-block;
			}
		}
	}

}
