.page-the-brand {
	.entry-header {
		@include sr-only();
	}
	.entry-intro {
		margin:auto;
		text-align: center;
		padding: 0 $spacer;
		@include media-breakpoint-up(md) {
			max-width: 650px;
			padding: 0;
		}
	}
	.entry-intro {
		margin-top: ($spacer*2);
		margin-bottom: ($spacer*3);
		p {
			&:first-of-type {
				font-size: $h2-font-size;
				margin-bottom: ($spacer*1.5);
			}
		}
	}

	.image {
		@include media-breakpoint-down(sm) {
			margin: $spacer 0;
		}
	}
	.text-area-wrapper {
		@include media-breakpoint-down(sm) {
			margin: $spacer 0;
		}
	}

}
.the-founders {
	padding-top: ($spacer*2);
	background: linear-gradient(to top, gray("200") 0%, $white 100%);
	.image-wrapper {
		@include make-col-ready();
		@include make-col(12);
		@include media-breakpoint-down(sm) {
			padding-left:0;
			padding-right: 0;
		}
	    @include media-breakpoint-up(md) {
	  		@include make-col(10);
			@include make-col-offset(1);
	    }
		@include media-breakpoint-up(lg) {
	  		@include make-col(9);
			@include make-col-offset(1.5);
	    }
	}
	.text-area-wrapper {
		z-index: 1;
		margin: -($spacer*2) auto ($spacer*2) auto;
		width: 90%;
		@include media-breakpoint-up(md) {
			width: 75%;
			margin: -($spacer*3) auto ($spacer*4) auto;
		}
		@include media-breakpoint-up(lg) {
			width: 50%;
			max-width: 500px;
		}
	}
	.text-area {
		padding: ($spacer*3);
		@include media-breakpoint-up(lg) {
			padding: ($spacer*4);
		}
	}
}
