// Shared


//
// WooCommerce Global
// --------------------------------------------------

.woocommerce {
	//.page {
		.entry-title {
			text-align: left;
			margin-bottom: ($spacer*2);
		}
		h2,
		h3 {
			font-size: $h5-font-size;
			text-transform: uppercase;
			letter-spacing: .1rem;
			margin-bottom: $spacer;
		}
//	}
}

.woocommerce-column--billing-address,
.woocommerce-column--shipping-address  {
	padding: ($spacer*2);
	margin-bottom: ($spacer*2);
	background-color: gray("100");
	address {
		margin-bottom: 0;
	}
}

.woocommerce-message {
	//border: 1px solid $black;
	text-align: center;
	margin-bottom: $spacer;
	//padding: $spacer;
	@include make-col-ready();
	@include make-col(12);
	.button{
		margin-right: $spacer;
	}
}
.woocommerce-info {
	text-align: left;
	margin-bottom: $spacer;
	//padding: $spacer;
	@include make-col-ready();
	@include make-col(12);
}
.woocommerce-NoticeGroup {
	@include make-col-ready();
	@include make-col(12);
}
.woocommerce-error {
	border: 1px solid var(--danger);
	margin-bottom: $spacer;
	padding: $spacer;
	@include make-col-ready();
	@include make-col(12);
}

.out-of-stock {
	font-weight: $font-weight-bold;
	padding-top: ($spacer*2);
}




//
// Product Archives
// --------------------------------------------------

.post-type-archive-product {
	.flexible-image-grid {
		margin-bottom: $spacer;
	}
}

.post-type-archive-product,
.tax-product_cat {
	.products {
		margin: 0;
	}
	.category-filtering,
	.woocommerce-result-count,
	.woocommerce-ordering,
	.price {
		display: none;
	}

}

.post-type-archive-product {

	.woocommerce-products-header {
		display: none;
	}

}

.woocommerce-products-header__title {
	&.page-title {
		text-align: center;
		text-transform: uppercase;
		font-size: $h4-font-size;
		margin: ($spacer*2) 0;
		letter-spacing: .2rem;
	}
}

//
// Single Product
// --------------------------------------------------

.single-product {

	background-color: gray("100");
	background: linear-gradient(gray("100"), $white);

	.product {
		 @include make-row();
	}

	.woocommerce-product-gallery {
		@include make-col-ready();
		@include make-col(12);
	    @include media-breakpoint-up(md) {
	  		@include make-col(6);
	    }
	}
	.entry-summary {
		@include make-col-ready();
		@include make-col(12);
		order: -1;
		margin-bottom: ($spacer*2);
		@include media-breakpoint-up(md) {
	  		@include make-col(6);
			order: 0;
	    }
		@include media-breakpoint-up(lg) {
	  		@include make-col(5);
			@include make-col-offset(0.5);
	    }
	    @include media-breakpoint-up(xl) {
			@include make-col(4);
			@include make-col-offset(1);
	    }
	}

	.flex-control-thumbs {
		padding: 0;
		margin: ($spacer/2) (-($spacer/2));
		list-style: none;
		li {
			width: 25%;
			padding: ($spacer/2);
			display: inline-block;
			box-sizing: border-box;
			img {
				border: 1px solid transparent;
				&.flex-active {
					border: 1px solid gray("900");
				}
			}
		}
	}


	.product_title {
		color: gray("600");
		font-size: $h2-font-size;
		margin-top: ($spacer*1.5);
		margin-bottom: ($spacer/2);
		//color: gray("600");
		color: $black;
		text-align: center;
		@include media-breakpoint-up(md) {
			text-align: left;
			font-size: $h5-font-size;
		}
	}
	.price {
		text-align: center;
		@include media-breakpoint-up(md) {
			text-align: left;
		}
	}
	.woocommerce-Price-amount {
		font-size: $h6-font-size;
		font-weight: 700;
	}
	.product_description {
		padding-bottom: $spacer;
		h2 {
			font-size: $font-size-base;
			padding: ($spacer/2) 0;
    		line-height: 2rem;
			margin-bottom: 0;
			a {
				display: block;
				position: relative;
				letter-spacing: 0;
				text-transform: none;
				&:before {
					position: absolute;
					right: 0;
					top: 0;
					content: "";
					display: block;
					background: gray("200");
					width: 26px;
					height: 32px;
					text-align: center;
				}
				&:after {
					position: absolute;
					right: 5px;
					top: 0;
					content: "+";
					display: block;
					font-size: 1.5rem;
				}
				&[aria-expanded="true"]{
				  &:after {
					  content: "–";
					  top: -1px;
    	  			  right: 6px;
				  }
				}
			}
		}

		p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}


	.quantity,
	.sku_wrapper {
		display: none !important;
	}
	.single_add_to_cart_button {
		margin-top: $spacer;
	}
	.variations-wrapper {
		display: flex;
		padding: $spacer 0;
		border-top: $separating_border-width solid $separating_border-color;
		//border-bottom: 0;
	}

	.single_variation_wrap {
		border-top: $separating_border-width solid $separating_border-color;
		padding-top: $spacer;
	}

	.social-share-woo {
		margin-top: $spacer;
		a {
			font-size: 1.35rem;
			margin-right: ($spacer/3);
		}
		i {
			color: gray("600");
		}
	}

}




//
// Product Variations
// --------------------------------------------------


table.variations {
	position: relative;
	width: 100%;
	margin-top: ($spacer*1.5);
	tr {
		display: flex;
    	flex-direction: column;
		td {
			&.label {
				border-top: $separating_border-width solid $separating_border-color;
				padding-top: $spacer;
			}
		}
	}

	.tawcvs-swatches {
		padding: 0 0 $spacer 0;
		.swatch {
			margin-right: ($spacer/3);
			border: 3px solid transparent;
			@include media-breakpoint-up(lg) {
				margin-right: ($spacer/2);
			}
			&.selected {
				box-shadow: none;
				border: 3px solid $secondary;
			}
		}
	}

	.swatch-image {
		margin-top: ($spacer/3);
		width: ($swatch_size*.8);
		height: ($swatch_size*.8);
		border-radius: ($swatch_size*.8);
		overflow: hidden;
		opacity: 1;
		@include media-breakpoint-up(lg) {
			width: $swatch_size;
			height: $swatch_size;
			border-radius: $swatch_size;
	    }
		img {
			width: 100%;
			height: 100%;
		}
	}

	.reset_variations {
		position: absolute;
		top: ($spacer*1.25);
		right: 0;
	}

}



//
// Cart & Checkout
// --------------------------------------------------

.shop_table {

	width: 100%;
	list-style: none;
	padding: 0;
	.cart_item {
		display: flex;
		border-top: $separating_border-width solid $separating_border-color;
		padding-top: ($spacer*2);
		margin-bottom: ($spacer*2);
	}
	.product-thumbnail {
		flex: 0 0 140px;
		margin-right: ($spacer*2);
	}
	.product-item-content {
		display: flex;
		flex-grow: 1;
		flex-wrap: wrap;
		flex-basis: 0px;
	}
	.product-info {
		flex: 1 1 60%;
	}
	.product-name {
		font-size: $h4-font-size;
		.product-variation {
			font-size: $font-size-base;
			color: gray("500");
		}
	}
	.product-quantity {
		order: 1;
		width: 100%;
		.quantity {
			margin-bottom: $spacer;
			.input-text {
				margin-left: $spacer;
			}
		}
	}
	.remove {
		&:hover {
			border: 0;
			text-decoration: none;
		}
		span {
			font-size: ($font-size-base*.8);
			text-transform: uppercase;
			letter-spacing: .1rem;
		}
	}


	.order-total {
		.title {
			font-size: $font-size-base;
		}
		.amount {
			font-size: $h3-font-size;
		}
		.includes_tax {
			color: gray("700");
			font-weight: $font-weight-light;
			font-size: $font-size-base;
			.amount {
				font-size: $font-size-base;
			}
		}
		.total-wrapper {
			display: flex;
			flex-direction: column;
			text-align: right;
		}
	}

}

#shipping_method {
	margin-top: $spacer;
	text-transform: none;
	padding: 0;
	list-style: none;
	border-bottom: $separating_border-width solid $separating_border-color;
	li {
		border-bottom:0;
		position: relative;
		margin-bottom: 0;
	}
	.shipping_method {
		position: absolute;
		top:5px;
		left: 0;
	}
	label {
		margin-left: 30px;
	}
}



//
// Cart
// --------------------------------------------------


.woocommerce-cart {
	.woocommerce {
		@include make-row();
	}
	.woocommerce-cart-form {
		@include make-col-ready();
		@include make-col(12);
		@include media-breakpoint-up(lg) {
			@include make-col(7);
		}
	}
	.cart-collaterals {
		@include make-col-ready();
		@include make-col(12);
		@include media-breakpoint-up(lg) {
			@include make-col(4);
			@include make-col-offset(1);
		}
	}

}


.cart_totals  {
	padding: ($spacer*2);
	margin-bottom: ($spacer*2);
	background-color: gray("100");
	li {
		margin-bottom: $spacer;
		border-bottom: $separating_border-width solid $separating_border-color;
		padding-bottom: $spacer;
		&:last-of-type{
			border: 0;
		}
	}
	.cart-subtotal {
		font-size: $font-size-base;
	}
	.cart-subtotal,
	.order-total {
		display: flex;
		justify-content: space-between;
	}
	.checkout-button {
		width: 100%;
	}
	.title {
		text-transform: uppercase;
	}
	.shipping {
		text-transform: uppercase;
	}

	.shipping-calculator-form {
		.input-text,
		.button {
			width: 100%;
		}
	}
	.shipping-calculator-button {
		display: block;
		position: relative;
		&:after {
			content: "+";
			position: absolute;
			right: 5px;
			top: -6px;
			display: block;
			font-size: 20px;
			color: gray("500");
		}
	}

}


.coupon {
	padding: ($spacer*2);
	background-color: gray("100");
	display: flex;
	flex-direction: column;
	margin-bottom: ($spacer*2);
	.input-text {
		@include media-breakpoint-up(md) {
			flex-grow: 1;
		}
	}
	label {
		@include sr-only;
	}
	.card-body {
		display: flex;
	}
}





//
// Checkout
// --------------------------------------------------

.checkout.woocommerce-checkout {
	@include make-row();
	#customer_details {
		@include make-col-ready();
		@include make-col(12);
		@include media-breakpoint-up(lg) {
			@include make-col(7);
		}
	}
	#order_review {
		@include make-col-ready();
		@include make-col(12);
		@include media-breakpoint-up(lg) {
			@include make-col(4);
			@include make-col-offset(1);
		}
	}
}

.woocommerce-checkout {

	form.checkout_coupon {
		display: flex;
		margin-bottom: $spacer;
		input {
			width: 100%;
		}
		.form-row-first {
			@include media-breakpoint-up(md) {
				min-width: 40%;
			}
		}
	}

	form.checkout {
		margin-bottom: ($spacer*2);
	}
	h3#order_review_heading {
		display: none;
	}
	#customer_details {

		.input-text  {
			font-weight: bold;
			border: $separating_border-width solid $separating_border-color;
			padding: 0 $spacer;
			&:focus {
				border: 1px solid gray("900");
				outline: none;
			}
		}
		#order_comments {
			min-height: 150px;
			padding-top: $spacer;
			width: 100%;
		}
	}
	.woocommerce-billing-fields__field-wrapper,
	.woocommerce-shipping-fields__field-wrapper {
		display: flex;
  		flex-wrap: wrap;
  		flex-direction: row;
		p {
			display: flex;
  			flex-direction: column;
			flex-basis: 100%;
			@include media-breakpoint-up(lg) {
				flex-basis: 50%;
			}

			&#billing_address_1_field,
			&#billing_address_2_field,
			&#billing_city_field,
			&#shipping_address_1_field,
			&#shipping_address_2_field,
			&#shipping_city_field {
				flex-basis: 100%;
			}
			&.validate-postcode,
			&#billing_state_field,
			&#shipping_state_field {
				@include media-breakpoint-up(lg) {
					flex-basis: 50%;
				}
			}

			&#billing_first_name_field,
			&#billing_phone_field,
			&#billing_state_field,
			&#billing_company_field,
			&#shipping_first_name_field,
			&#shipping_phone_field,
			&#shipping_state_field,
			&#shipping_company_field,
			 {
				.woocommerce-input-wrapper {
					@include media-breakpoint-up(lg) {
						margin-right: ($spacer/2);
					}
				}

			}




			input {
				width: 100%;
			}
		}
	}

	.woocommerce-shipping-fields {
		padding: $spacer 0;
		margin: $spacer 0;
		border-top:$separating_border-width solid $separating_border-color;
		border-bottom:$separating_border-width solid $separating_border-color;
	}
	#ship-to-different-address-checkbox {
		height: auto;
		margin-right: ($spacer/2);
	}
	#ship-to-different-address {
		text-transform: none;
		font-size: $font-size-base;
		letter-spacing: 0;
	}
	.woocommerce-additional-fields__field-wrapper {
		display: flex;
  		flex-wrap: wrap;
  		flex-direction: row;
		p {
			display: flex;
  			flex-basis: 100%;
  			flex-direction: column;
		}
	}

	.cart-items {
		margin-bottom: ($spacer*2);
		padding: ($spacer*2);
		border: 1px solid gray("200");
		ul {
			padding-left: 0;
			margin-bottom: 0;
		}
	}
	.cart_item {
		flex-grow: 1;
		flex-basis: 0px;
		padding-top: ($spacer);
		margin-bottom: ($spacer);
		.product-name {
			flex: 1 1 60%;
		}
		.product-quantity {
			font-size: $font-size-base;
		}
	}
	.cart_totals {
		margin-bottom: 0;
		padding-bottom: 0;
		.shop_table {
			margin-bottom: 0;
		}
		li:last-of-type {
			border-bottom: 1px solid gray("200");
			margin-bottom: 0;
		}
	}
	#payment {
		padding: $spacer ($spacer*2) ($spacer*2);
		background-color: gray("100");
		margin-bottom: ($spacer*2);
		.button {
			width: 100%;
		}
		li,
		.wc-terms-and-conditions {
		    position: relative;
			padding: 10px 0;
    		border-bottom: 1px solid gray("200");
		}
		.input-radio,
		.input-checkbox {
			position: absolute;
			top: 15px;
			left: 0;
			height: auto;
		}

		.wc-terms-and-conditions > span,
		label {
			 margin-left: 20px;
		 }
	}

	p.validate-required {
		position: relative;
	}

	.payment_methods {
		padding: 0;
		list-style: none;
	}
}

.payment_method_paypal {
	img {
		width: 82px;
		height: 23px;
		margin-left: 10px;
	}
	.about_paypal {
		display: none;
	}
}
.wc_payment_method {
	label {
		font-weight: bold;
	}
}



//
// Order received
// --------------------------------------------------

.woocommerce-thankyou-order-received {
	text-align: center;
	font-size: $h3-font-size;
	width: 100%;
	margin-bottom: ($spacer*3);
}
.woocommerce-thankyou-order-details {
	display: flex;
	width: 100%;
    margin: 0 ($grid-gutter-width/2) ($spacer*3);
	list-style: none;
	padding: 0;
	//background-color: gray("100");
	border: 1px solid gray("900");
	justify-content: space-between;
	flex-direction: column;
	@include media-breakpoint-up(md) {
		flex-direction: row;
	}
	li {
		display: flex;
		padding: ($spacer/2) $spacer;
		flex-direction: column;
		@include media-breakpoint-up(md) {
			padding: $spacer;
		}
		strong {
			font-size: $h4-font-size;
			@include media-breakpoint-up(md) {
				font-size: $h5-font-size;
			}
			@include media-breakpoint-up(lg) {
				font-size: $h4-font-size;
			}
		}
	}
}

.woocommerce-order-received {
	.woocommerce-order {
		@include make-row();
	}
	.woocommerce-order-details {
		@include make-col-ready();
		@include make-col(12);
		@include media-breakpoint-up(lg) {
			@include make-col(7);
		}
	}
	.woocommerce-customer-details {
		@include make-col-ready();
		@include make-col(12);
		@include media-breakpoint-up(lg) {
			@include make-col(4);
			@include make-col-offset(1);
		}
	}
	.woocommerce-column--billing-address,
	.woocommerce-column--shipping-address {
		background-color: gray("100");
		padding: ($spacer*2);
		margin-bottom: ($spacer*2);
	}
	table.order_details {
		thead {
			display: none;
		}
		tr {
			border-bottom:$separating_border-width solid $separating_border-color;
		}
		td {
			@include media-breakpoint-up(lg) {
				width: 70%;
			}
		}
		th, td {
			padding: $spacer 0;
		}
	}
}



//
// My Account (Main Account Dashboard)
// --------------------------------------------------


//
// Login & Lost Password
// --------------------------------------------------

.woocommerce-form-login,
.lost_reset_password {
	margin: 0 auto ($spacer*2) auto;
	border: 1px solid $black;
	width: 90%;
	padding: ($spacer*1);
	@include media-breakpoint-up(md) {
		width: 50%;
		max-width: 450px;
		padding: ($spacer*3);
	}
	> p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	label {
		display: block;
	}
	input {
		width: 100%;
	}
	ul {
		list-style: none;
		margin:($spacer*2) 0;
		text-align: center;
		padding: 0 ($spacer*2);
	}
}


// Shared account CSS
.woocommerce-account {
	.woocommerce {
		> h2 {
			text-align: center;
		}
	}
	.site-content {
		@include media-breakpoint-down(lg) {
	  		max-width: 100%;
	    }
	}
	.woocommerce-MyAccount-content {
		@include make-row();
		@include media-breakpoint-only(xs) {
			overflow-y: auto;
			margin: 0;
		}
		> p {
			@include make-col-ready();
			@include make-col(12);
		}
		.account-orders-table {
			@include media-breakpoint-only(xs) {
				min-width: 800px;
			}
		}
	}


	.account-orders-table {
		@include make-col-ready();
		@include make-col(12);
		border-collapse: separate;
		.button {
			margin-right: ($spacer*.5);
			@include media-breakpoint-down(sm) {
		  		margin-bottom: ($spacer*.5);
		    }
		}
	}

	.shop_table .product-name {
		font-size: $font-size-base;
		padding: .5rem 0;
	}

	.site-footer {
		margin-top: ($spacer*4);
	}

}

// Page speicific
.woocommerce-MyAccount-navigation {
	ul {
		padding: 0;
		border:1px solid gray("900");
		margin-bottom: ($spacer*2);
		display: flex;
		list-style: none;
		justify-content: space-around;
		@include media-breakpoint-down(sm) {
	  		flex-direction: column;
	    }
	}
	li {
		padding: $spacer;
		&.is-active {
			a {
				font-weight: bold;
			}
		}
	}
}


//
// View Order Page
// --------------------------------------------------

.woocommerce-view-order {
	.woocommerce-order-details {
		@include make-col-ready();
		@include make-col(12);
	    @include media-breakpoint-up(md) {
	  		@include make-col(8);
	    }
	}
	.woocommerce-customer-details {
		@include make-col-ready();
		@include make-col(12);
	    @include media-breakpoint-up(md) {
	  		@include make-col(4);
	    }
	}

}

//
// Edit Addresses Page
// --------------------------------------------------

.woocommerce-edit-address {
	.woocommerce-Addresses {
		width: 100%;
		display: flex;
	}
	.woocommerce-Address {
		@include make-col-ready();
		@include make-col(12);
	    @include media-breakpoint-up(md) {
	  		@include make-col(6);
	    }
	}
	.woocommerce-MyAccount-content {
		form {
			@include make-col-ready();
			@include make-col(12);
			@include media-breakpoint-up(md) {
				@include make-col(10);
				@include make-col-offset(1);
			}
			@include media-breakpoint-up(lg) {
				@include make-col(8);
				@include make-col-offset(2);
			}
			label {
				display: block;
			}
			input {
				width: 100%;
			}
		}
	}
}

//
// Edit Account Page
// --------------------------------------------------

.woocommerce-edit-account {
	form.woocommerce-EditAccountForm {
		@include make-col-ready();
		@include make-col(12);
		@include media-breakpoint-up(md) {
			@include make-col(10);
			@include make-col-offset(1);
		}
		@include media-breakpoint-up(lg) {
			@include make-col(8);
			@include make-col-offset(2);
		}
		label {
			display: block;
		}
		input {
			width: 100%;
		}
		fieldset {
			margin-top: ($spacer*2);
		}
	}
}




//
// Select 2 JS Overrides
// --------------------------------------------------

.select2-container--default
.select2-selection--single
.select2-selection__rendered {
	line-height: 50px;
}
.select2-container .select2-selection--single {
	height: 50px;
}
.select2-container--default .select2-selection--single {
	border-radius: 0;
	border: 1px solid gray("400");
	&:focus {
		border: 1px solid gray("900");
		outline: none;
	}
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	margin-left: -10px;
    margin-top: 9px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
	background-color: gray("900");
}



// PhotoSwipe CSS
.pswp__bg {
	background-color: $white;
}
.pswp__counter {
	color: $black;
}
@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
  	/* Serve SVG sprite if browser supports SVG and resolution is more than 105dpi */
  	.pswp__button--close {
	    background-position: -12px -54px;
	}
	.pswp__button--fs {
		background-position: -14px 11px;
	}
	.pswp--fs .pswp__button--fs {
		background-position: -80px 11px; // fullscreen active
	}
	.pswp__button--zoom {
		background-position: -145px 10px;
	}
	.pswp--zoomed-in .pswp__button--zoom {
		background-position: -211px 10px;  // zoomed in
	}
   	.pswp--svg {
	   .pswp__button,
	   .pswp__button--arrow--left:before,
	   .pswp__button--arrow--right:before {
	    	background-image: url(images/photoswipe-dark-skin.svg);
			background-color: transparent;
		}
		.pswp__button--arrow--left,
		.pswp__button--arrow--right {
			background-image: none;
		}
		.pswp__button--arrow--left:before {
			background-position: -216px -50px;
		}
		.pswp__button--arrow--right:before {
			background-position: -150px -50px;
		}
  	}
}

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right,
.pswp__ui--idle .pswp__top-bar  {
    opacity: 1;
}

.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
	background-color: transparent;
}
.pswp__caption__center {
	text-align: left;
	color: gray("900");
	max-width: 90%;
	display: none;
}
